[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/sciplot"]
	path = external/sciplot
	url = https://github.com/sciplot/sciplot.git
